<!DOCTYPE html>
<html lang = 'en'>

<head>
<title>About ABCQuery</title>

<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>


<style>
body {
	padding: 50px;
	padding-left: 20%;
	padding-right:20%;
}
h1 {
	font-family: 'Raleway', Sans-serif;
	font-size: 40px;
}

h2 {
	font-family: 'Raleway', Sans-serif;
}

h3 {
	font-family: 'Raleway', Sans-serif;
}

p {
	font-family: 'Raleway', Sans-serif;
	font-size: 15px;
}

</style>

<body>



<h1 align = 'center'>{{Title}}</h1>

<h3>ABC Books Project and ENG 385</h3>
<p>ABCQuery uses data from Princeton University's ABC Books project, a digital archive of rare 19th century children's alphabet books from the Cotsen Children's Library collection. <br><br>The data consists of book data (scans of book images and book transcriptions), book metadata (such as publication date and publication location), and a tag dataset consisting of terms associated with each page of each book. These tags were input into the digital archive by students of Professor William Gleason's Spring 2016 ENG 385 (Children's Literature) class. <br><br>Visit the archive <a href ="https://etc.princeton. edu/abcbooks/">here</a>.</p>

<h3>Stack</h3>
<p>ABCQuery is built using Django (back end) and Bootstrap (front end).</p>

<!-- <h3>Acknowledgements</h3>
 -->

</div>

</body>

</html>