<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'  type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABCQuery</title>

    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
<!--     <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"> -->


    <!-- Custom Fonts -->
<!--     <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->
<!--     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'index' %}">ABCQuery</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <!-- <li>
                        <a href="#feedback/">Feedback</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ABCQuery</h1>
                        <h2>Explore the ABC Books Archive Data from Spring 2016</h2>
                        <hr class="intro-divider">
                        <form class="navbar-form" method='post' action="{% url 'search' %}" style="margin: 0">
                            {% csrf_token %}
                            <div class="input-group add-on">
                                <!-- <input class="form-control" id="search_box" style="width:60%" type="text" name="search_box"  placeholder="Enter Query..." ><button id="search_submit" type="submit" ><span class='glyphicon glyphicon-search'></span></button></input> -->
                                
                                <input class="form-control" style="min-width:500px" placeholder="Enter Query..." name="search_box" id="search_box" type="text">
                                <div class="input-group-btn" style="display:inline-block float:left" ><button class="btn btn-default" style="display:inline-block float:left" type="submit"><i class="glyphicon glyphicon-search"></i></button></div>
                            </div>

                        </form>

                          <!-- <form class="navbar-form" role="search">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
      <div class="input-group-btn"><button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button></div>
    </div>
  </form> -->
                        <br><br>
                        
                        <!-- <div class="panel-group"> -->
                          <!-- <div class="panel"> -->
                            <div class="panel-heading">
                              <h4 class="panel-title" >
                                <a data-toggle="collapse" href="#collapse1">Need suggestions for how to query the data?</a>
                              <!-- </h4> -->
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                              <div class="panel-body"> 
                                <p align="center">Search comparative queries about tag count, unique tag count, page count, or word count.</p>
                                <p align="center"><small>Ex. "books with more than 500 tags", "page count > 100", "transcription shorter than 800", etc.</small></p><br>
                                <!-- </div>
                                <div class='col'> -->
                                <p align="center">Search by word through tags and transcription.</p>
                                <p align="center"><small>Ex. "tag:bear", "transcription contains the word boy", etc.</small></p><br>
                                <!-- </div>
                                <div class='col'> -->
                                <p align="center">Search by a book's metadata, such as publication year or publication location.</p>
                                <p align="center"><small>Ex. "published in New York", "published in 1920", etc.</small></p><br>
                                <p align="center">Separate multiple queries using commas.</p>
                                <p align="center"><small>Ex. "books with more than 500 tags, fewer than 50 pages", etc.</small></p><br>
                            </div>
                              </div>
                            <!-- </div> -->
                          
                       <!--  </div> -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <p class="copyright text-muted small text-center">&copy; 2017 Annie Chen</p> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
